services:
    app:
        image: my-laravel-app:latest # The image you built in Jenkins
        environment:
            - DB_HOST=db        # The service name below acts as the hostname!
            - DB_PORT=3306
            - DB_DATABASE=laravel_db
            - DB_USERNAME=laravel_user
            - DB_PASSWORD=secret_password
        volumes:
            - web-root:/var/www/html  # Uses the volume
        depends_on:
            - db # Wait for a database to start before starting an app

    # 2. The MySQL Database
    db:
        image: mysql:8.0
        environment:
            MYSQL_DATABASE: laravel_db
            MYSQL_USER: laravel_user
            MYSQL_PASSWORD: secret_password
            MYSQL_ROOT_PASSWORD: root_secret_password
        volumes:
            - db_data:/var/lib/mysql # Persist data even if container stops
        ports:
            - "3307:3306" # Optional: Open port if you want to connect via TablePlus/HeidiSQL

    nginx:
        image: nginx:alpine
        volumes:
            - nginx.conf:/etc/nginx/conf.d/default.conf
            - web-root:/var/www/html
        ports:
            - "8081:80"
        depends_on:
            -   app

volumes:
    db_data:
    web-root:
